<div class="card" style="width: 16rem;">
    <div class="row no-gutters">
      <img class="col-md-10">
        <img src="\user.jpg" style="width:400px;" alt="Imagen del coordinador">
      <div class="col-md-10">
        <div class="card-body">
          <p class="card-text"><strong>Nombre:</strong> {{coordinador.nombre}}</p>
          <p class="card-text"><strong>Apellido:</strong> {{coordinador.apellido}}</p>
          <p class="card-text"><strong>Codigo:</strong> {{coordinador.id}}</p>
        </div>
      </div>
    </div>
  </div>
<app-list-docentes></app-list-docentes>
