<div *ngIf="loading" class="row mt-1" >
    <div class="col-lg-4 offset-lg-4">
        <div class="card border-primary mb-3" style="max-width: 25rem;">
            <div class="card-header text-center" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> {{operacion}} Docente</font></font></div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="addDocente()" >
                    <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre">
                    <span *ngIf="form.get('nombre')?.hasError('required') && form.get('nombre')?.touched">
                        El campo nombre es <strong>requerido</strong>
                    </span>
                    <input formControlName="apellido" type="text" class="form-control mt-2" placeholder="Apellido">
                    <span *ngIf="form.get('apellido')?.hasError('required') && form.get('apellido')?.touched">
                        El campo apellido es <strong>requerido</strong>
                    </span>
                    <input formControlName="id" type="number" class="form-control mt-2" placeholder="Id">
                    <span *ngIf="form.get('id')?.hasError('required') && form.get('id')?.touched">
                        El campo id es <strong>requerido</strong>
                    </span>
                    <input formControlName="tipoDocente" type="text" class="form-control mt-2" placeholder="Tipo Docente">
                    <span *ngIf="form.get('tipoDocente')?.hasError('required') && form.get('tipoDocente')?.touched">
                        El campo tipo docente es <strong>requerido</strong>
                    </span>
                    <input formControlName="correo" type="email" class="form-control mt-2" placeholder="Correo">
                    <span *ngIf="form.get('correo')?.hasError('required') && form.get('correo')?.touched && form.get('correo')?.hasError('email')">
                        El campo correo es <strong>requerido</strong>
                    </span>
                    <input formControlName="ultTituloAlcanzado" type="text" class="form-control mt-2" placeholder="Ultimo Titulo Alcanzado">
                    <span *ngIf="form.get('ultTituloAlcanzado')?.hasError('required') && form.get('ultTituloAlcanzado')?.touched">
                        El ultimo titulo alcanzado id es <strong>requerido</strong>
                    </span>
                    <div class="row mt-2 text-center">
                        <div class="col-lg-6">
                            <button [disabled]="form.invalid"  type="submit" class="btn btn-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Guardar</font></font></button>
                        </div>
                        <div class="col-lg-6">
                            <button routerLink="/" type="button" class="btn btn-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cancelar</font></font></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
