<nav class="navbar navbar-expand-lg" style="background-color: #800000;" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="\logo2.png" alt="Logo" style="width:adaptive;"> 
            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">      Informe y Evaluación de Actividades de Labor Docente</font></font>
        </a>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
            </ul>
        </div>
    </div>
</nav>